* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
}

header .header-top {
  width: 100%;
  height: 5vh;
  background-color: #0C7CEC;
}
header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 0;
}
header .container img {
  width: 5%;
}
header .container nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header .container nav ul li {
  padding: 0 20px;
}
header .container nav ul li a {
  text-decoration: none;
  color: black;
}
header .jumbo {
  background-image: url("../img/jumbotron.jpg");
  height: 45vh;
  background-size: cover;
}

main {
  background-color: #1C1C1C;
}
main .container {
  padding: 1%;
}
main .container h1 {
  color: white;
  text-align: center;
}
main .container .section-title {
  padding: 5% 0;
  font-size: 2rem;
  color: #fff;
}
main .container .card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .container .card-section .card {
  width: calc((100% - 60px) / 6);
  margin: 40px 0;
}
main .container .card-section .card img {
  width: 100%;
  margin-bottom: 10px;
}
main .container .card-section .card .title {
  text-transform: uppercase;
  max-width: 50%;
  margin: 0;
  color: #fff;
}
main .container .view-more {
  background-color: #0C7CEC;
  color: #fff;
  display: block;
  margin: auto;
  padding: 1% 5%;
  border: none;
  text-transform: uppercase;
}

footer .footer-top {
  height: 15vh;
  background-color: #0C7CEC;
}
footer .footer-mid {
  height: 60vh;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
}
footer .footer-mid .container {
  display: flex;
  justify-content: space-around;
}
footer .footer-mid .container .left h1 {
  color: white;
}
footer .footer-mid .container .right img {
  width: 80%;
}
footer .footer-bottom {
  height: 10vh;
  background-color: #303030;
}

.comic-container {
  background-color: white;
}
.comic-container .top {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 90%;
  margin: auto;
}
.comic-container .top .center h1 {
  text-transform: uppercase;
  text-align: center;
}
.comic-container .top .center .price-container {
  width: 50%;
  height: 50px;
  background-color: #55ba59;
  margin: auto;
}
.comic-container .top .center .price-container p {
  display: inline-block;
  color: #9fe875;
  padding-left: 5%;
  padding-top: 2%;
}
.comic-container .top .center .price-container span {
  color: white;
}
.comic-container .top .center .price-container .avalaible {
  margin-left: 50%;
}
.comic-container .top .center p {
  max-width: 50%;
  margin: auto;
}
.comic-container .bottom {
  height: 40vh;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
}