

.comic-container{
    background-color: white;
        .top{
            display: flex;
            justify-content: center;
            width: 90%;
            margin: auto;
            padding: 2%;
            .left{

            }
            .center{
                h2{
                    text-transform: uppercase;
                    text-align: center;
                    padding-bottom: 2%;
                }
                .price-container{
                    width: 70%;
                    height: 50px;
                    background-color: #55ba59;
                    margin: auto;
                        p{
                            display: inline-block;
                            color: #9fe875;
                            padding-left: 5%;
                            padding-top: 2%;
                        }
                        span{
                            color: white;
                        }
                        .avalaible{
                           margin-left: 50%;
                        }
                }
                p{
                    max-width: 72%;
                    margin: auto;
                    padding: 1%;
                }
            }
            .right{
                img{
                    
                }
            }
            
        }
        .bottom{
            background-color: #f6f6f6;
            display: flex;
            justify-content: space-around;
            border-top: 2px solid #e7e3e2;
            padding: 0 10%;
           
                .bottom-left{
                    width: 50%;
                    margin: auto;
                    padding: 3%;
                        h2{
                            padding-bottom: 5%;
                            color: #00446f;
                            
                        }
                        hr{
                            background-color: #e7e3e2;
                            height: 1px;
                            border: none;
                        }
                        .info-container{
                            display: flex;
                            justify-content: space-between;
                            padding: 1%;
                                .artist{
                                    max-width: 75%;
                                    color: #32afdd;
                                }
                        }
                }
                .bottom-right{
                    width: 50%;
                    margin: auto; 
                    padding: 0 2%;
                    hr{
                        background-color: #e7e3e2;
                        height: 1px;
                        border: none;
                    }
                    h2{
                        padding-bottom: 6%;
                        color: #00446f;
                    }
                    .info{
                        width: 40%;
                        display: flex;
                        justify-content: space-between;
                        padding: 2% 0;
                            .series{
                                color: #32afdd;
                                text-transform: uppercase;
                            }
                    }
                }
        }
       
}